.DS_Store
.vs
.vscode

*.out
*.exe
*.stackdump

proj/**/Debug
proj/**/Release
proj/**/x64/Debug
proj/**/x64/Release

cpp_test/Debug
cpp_test/Release
cpp_test/x64/Debug
cpp_test/x64/Release

csharp/obj
fsharp/obj